*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  height: 100vh;
  background-image: url("../Immagini/background python.png");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
  margin-left: 70px;
  user-select: none;
}

@font-face {
  font-family: ds-term104;
  src: url("../Font/DS-TERM.TTF");
}
@font-face {
  font-family: dec-term104;
  src: url("../Font/_decterm.ttf");
}

p{
    color: #04d9ff;
    font-family: "Source Code Pro",monospace;
}
ul,li{
    color: #04d9ff;
    font-family: "Source Code Pro",monospace;
    list-style: none;
}

font{
    font-family: "Source Code Pro",monospace;
}

.center{
  display: flex;
  width: 100%;
}


.TitlePython{
  color: #00fef3;
  font-family: ds-term104,monospace;
  font-size: 3rem;
  width: max-content;
}

.bottomLeft{
  position: fixed;
  top: 10px;
  right: 10px;
}

.backButtonStyle{
  color: #00fef3;
  font-family: "Source Code Pro",monospace;
}

.backButtonStyle:hover{
  color: rgba(0,254,243,0.8);
  cursor: pointer;
}
